@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-background {
  background-image: url("/images/soccer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
}

seletor {
  box-shadow: h-shadow v-shadow blur spread color inset;
}

.drop-shadow {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.5);
}
